<IfDefine Free>
    php56 1
</IfDefine>


# Désactiver l'indexation des répertoires
Options -Indexes

# Protéger les fichiers .ht*
<Files ".ht*">
Order allow,deny
Deny from all
Satisfy all
</Files>

# Autres directives possibles
Options FollowSymLinks
Options Includes
AddEncoding gzip .gz
AddHandler application/x-httpd-fastphp .html
AddDefaultCharset utf-8

ErrorDocument 410 /detruit.php
ErrorDocument 500 "Désolé, script craché... pas de chance !
ErrorDocument 404 /erreur/perdu.html
ErrorDocument 401 /inscription/comment-sinscrire.html

